# --- Base et Reseau ---
requests
paramiko
cryptography
python-dotenv
pywinrm

# --- Bases de donnees et LDAP ---
mysql-connector-python==8.0.33
ldap3

# --- Module Audit et Windows (ignorés automatiquement sous Linux) ---
wmi; sys_platform == "win32"
pywin32; sys_platform == "win32"
psutil

# --- Interface et utilitaires ---
colorama
click
prompt_toolkit
pydantic